# ExecStart=kismet_cap_linux_wifi --connect=${HIVE_HOSTNAME}:${HIVE_PORT} --ssl --ssl-certificate=${DRONE_SSL_CERT_PATH} --apikey=${HIVE_API_KEY} --source=${DRONE_CAPTURE_SOURCE}

#Same hostname as configured in the certificate (CN)
HIVE_HOSTNAME=hostname
# Port to SSL/TLS proxy
HIVE_PORT=2501
# Create an API token with the 'datasource' role in the kismet server webGUI.
HIVE_API_KEY=1a2b3c4d5e6f7g8h
# The local path where we can find the '.crt' file we generated before.
DRONE_SSL_CERT_PATH=/home/user/cert.crt
# The local device that will perform monitor mode e.g. wlan0
DRONE_CAPTURE_SOURCE=wlan1
